<nav id="easy_seo-breadcrumbs" style="--bs-breadcrumb-divider: '{{ easy_seo_breadcrumb.separator }}';" aria-label="breadcrumb">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="{{ easy_seo_breadcrumb.class }}">
    {% for breadcrumb in data %}
        <li itemprop="itemListElement" class="{{ easy_seo_breadcrumb.item_class }} {{ loop.last ? easy_seo_breadcrumb.current_class : "" }} {{ loop.first ? "item-first" : "" }}" {% if loop.last %}aria-current="page"{% endif %}  itemscope itemtype="http://schema.org/ListItem">
            <meta itemprop="position" content="{{ loop.index }}" />
            {% set type = loop.last ? "span" : "a" %}
            <{{ type }} itemprop="item" href="{{ breadcrumb.target }}" class="{{ easy_seo_breadcrumb.link_class }}">
                <span itemprop="name">{{ breadcrumb.linkName|trans }}</span>
            </{{ type }}>
        </li>
    {% endfor %}
    </ol>
</nav>
